
.pb_cover_v1 .heading_TTL{
    font-family: darkHeartFont;
    font-size: 150px;
    color: white;
    /* font-weight: 300; */
    margin-top: 10px;
    margin-bottom: 0px;
    opacity: 0.7;
}

.floatRight{
    float: right !important;

}

